.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Columnas: la izquierda ocupa 1 parte, la derecha 2 partes */
  gap: 15px; /* Espacio entre las secciones */
}

.left-section {
  padding: 20px;
}


.box {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--main-font);
  color: var(--type-color);
  transition: background-color 0.3s ease;
}

.tab.active {
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--accent-color);
}


.header {
  display: flex;
  justify-content: flex-start; /* Alinea las pestañas a la izquierda */
}

.tab {
  margin-right: 10px; /* Espacio entre las pestañas */
}

.derecha {
  float: right;
  margin-right: 40px;
  margin-top: 8px;
}

label{
  font-family: var(--main-font);
  font-size: small;
  color: var(--type-color);
  background: none;
  border: none;
}

#filterSelect {
  color: var(--type-color);
  background-color: var(--section-container-card);
  border: none;
  border-radius: 10px;
}

#ordenSelect {
  color: var(--type-color);
  background-color: var(--section-container-card);
  border: none;
  border-radius: 10px;
}
